doctype html
html(lang="en")
  head
    title= AskIMD
    script
        include ../script/jquery-2.2.3.min.js
        include ../script/create.js
    
  body
    h1 Create a discussion
    
    div
        input#discussion(type="text")